@import "tailwindcss";

@theme {
  /* custom colours */
  --color-primary: #75020f;
  --color-secondary: #51080D; /* #C43E46 */
  --color-tertiary: oklch(81% 0.117 11.638);

   /* custom text color */
  --color-text-primary: #FFF4E4;
  --color-text-secondary: oklch(92.2% 0 0);
}
