@import "tailwindcss";

@theme {
  /* custom colours */
  --color-primary: #74070E;
  --color-secondary: oklch(80.8% 0.114 19.571);

   /* custom text color */
  --color-text-primary: oklch(12.9% 0.042 264.695);
  --color-text-secondary: oklch(27.9% 0.041 260.031);
}
