@import "tailwindcss";

@theme {
  /* custom colours */
  --color-primary: #FFEDA8;
  --color-secondary: #FAE588;
  --color-tertiary: #F9DC5C;

   /* custom text color */
  --color-text-primary: oklch(12.9% 0.042 264.695);
  --color-text-secondary: oklch(27.9% 0.041 260.031);
}

body {
  background-color: var(--color-primary);
}